<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="live better">

    <title>Igosh.com</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        .bs-docs-featurette {
            padding-top: 40px;
            padding-bottom: 40px;
            font-size: 16px;
            line-height: 1.5;
            color: #555;
            text-align: center;
            background-color: #fff;
            border-bottom: 1px solid #e5e5e5;
        }

        .navbar-nav > li > a {
            font-size: 12px;
            font-weight: 400;
            color: #002;
        }
    </style>
</head>

<body>

<nav class="navbar navbar-default navbar-fixed-top nav-has-shadow">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Sefoy</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="#home">Home</a></li>
                <li><a href="http://blog.igosh.com">Blog</a></li>
                <li><a href="#about">Contact</a></li>
                <li><a href="#contact">About</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/login">login</a></li>
                <li><a href="/register">register</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="container">
    <div class="bs-docs-featurette">
        <div class="container">
            <h2 class="bs-docs-featurette-title">让体验更美好，make life better。</h2>
            <p class="lead">Sefoy 让资源管理更快速、简单。使用者能快速上手、自助搭建设计、功能丰富，稳定可靠。</p>

            <hr class="half-rule">
            <div class="row">
                <img src="/img/devices.png" alt="Responsive across devices" class="img-responsive center-block">
            </div>

            <div class="row">
                <div class="col-sm-4">
                    <h3>模块化管理</h3>
                    <p>Sefoy基于模块化设计的原则，积木一样搭建出丰富的模块，即使没有编程经验，亦能游刃有余，让您变身"设计家"</p>
                </div>
                <div class="col-sm-4">
                    <h3>集成的功能</h3>
                    <p>使用Sefoy，您将可以同步多终端管理您的问题，图片，日志，文档，集成的设计体验。</p>
                </div>
                <div class="col-sm-4">
                    <h3>优化的体验</h3>
                    <p>Sefoy提供了全面、美观的交互体验，每个交互细节都极致优化，让您畅快体验。</p>
                </div>
            </div>

            <hr class="half-rule">

            <p class="lead">Sefoy是一个集日志管理、自动部署、文件存储为一体的个人信息平台。</p>
            <a href="#doc" class="btn btn-outline btn-lg">查看项目文档</a>
        </div>
    </div>
</div><!-- /.container -->


<footer class="footer">
    <div class="container">
        <p class="text-muted">Copyright by igosh.com @2015-2020</p>
    </div>
</footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
