<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.igoso.me.gallery.dao.HouseDao">

    <resultMap type="com.igoso.me.gallery.entity.HouseModel" id="BaseResultMap">
        <id property="id" column="id"/>
        <result property="address" column="address"/>
        <result property="brands" column="brands"/>
        <result property="size" column="size"/>
        <result property="type" column="type"/>
        <result property="price" column="price"/>
        <result property="pic" column="pic"/>
        <result property="region" column="region"/>
        <result property="usage" column="usage"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <select id="selectList" resultMap="BaseResultMap">
        SELECT *
        FROM house_ts
        ORDER BY id
    </select>
</mapper>
